@font-face {
	src: url("./plugins/fonts/Raleway/static/Raleway-Black.ttf");
	font-family: "raleway";
}

@font-face {
	src: url("./plugins/fonts/Raleway/static/Raleway-Light.ttf");
	font-family: "raleway-light";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "raleway", "monospace";
	position: relative;
}

.first-nav {
	background-color: #0000ff;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-nav {
	position: sticky;
	/* top: 0; */
}

.first-nav > .socials {
	margin-left: 50px;
}

.first-nav > div {
	margin-right: 30px;
}

.btn {
	padding: 9px;
	background-color: greenyellow;
	color: #000;
	font-weight: 900;
	border: none;
	margin: 0 20px;
}

.btn:hover {
	cursor: pointer;
}

.socials > span {
	border: none;
	padding: 0 10px;
	border-right: 1px solid #ffffff;
}

.section {
	background-image: linear-gradient(to right, #353597, transparent);
	color: #ffff;
	position: relative;
	min-height: 500px;
}

a {
	color: #fff;
	text-decoration: none;
}

.section > nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.section > nav ul {
	display: flex;
}

.menu {
	background-color: transparent;
	border: none;
	color: #fff;
}

.menu i {
	padding: 0 5px;
}

.section > nav ul li {
	padding: 0 10px;
	list-style-type: none;
	font-size: 10px;
}

.whole {
	display: flex;
	align-items: center;
}

.whole .text {
	font-size: 10px;
	margin: 0 5px;
}

.book {
	background-color: aqua;
	border: none;
	padding: 10px;
	color: #000;
	font-weight: 900;
}

.inner-text {
	display: flex;
	justify-content: space-between;
	/* gap: 200px; */
	position: relative;
	padding: 10px 50px;
	align-items: center;
}

.inner-text > div p {
	font-family: "agency fb", "monospace";
}

.inner-text .icons {
	position: absolute;
	top: 50%;
	display: flex;
	/* justify-content: center; */
	/* height: 300px; */
	left: 0;
	padding: 10px;
	transform: translateY(-50%);
	right: 0;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

/* .icons > i {
	position: absolute;
	display: flex !important;
	justify-content: space-between;
	top: 50%;
} */

.inner-text > *:first-child {
	padding: 20px;
	margin: 30px;
}

/* .inner-text .fa-arrow-right {
	z-index: 100;
	left: 75%;
} */

.inner-text .fa-arrow-right:hover,
.inner-text .fa-arrow-left:hover {
	cursor: pointer;
}

.icons .fa-arrow-right {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icons .fa-arrow-left {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .inner-text .fa-arrow-left {
	left: -8%;
} */

.inner-text span {
	font-size: 70px;
	line-height: 2em;
}

.images {
	position: relative;
	top: 20%;
}

.images img {
	border: 2px solid #000;
	width: 500px;
	height: 300px;
	object-fit: cover;
}

.grid > div {
	background-color: #000;
	color: #fff;
	margin: 0 0;
	padding: 90px 0;
	text-align: center;
}

.none {
	display: none;
}

.spinner {
	position: absolute;
	display: none;
	height: 100vh;
	width: 100vw;
	/* top: 0; */
	z-index: 1000;
	/* bottom: 0;
	left: 0;
	right: 0; */
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
}

.spinner > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid > *:first-child {
	position: relative;
	/* background-image: url("./head.jpg"); */
	background-color: #000074;
	/* z-index: 1000; */
}

.grid > *:first-child:hover {
	background-color: #ccc;
	color: #111;
	border: 2px solid #111;
	cursor: pointer;
	transition: all 0.3s;
}

.grid > *:nth-of-type(2) {
	background-color: #ff7f50;
}

.grid > *:nth-of-type(2):hover {
	background-color: #ccc;
	color: #111;
	border: 2px solid #111;
	cursor: pointer;
	transition: all 0.3s;
}

.grid > *:nth-of-type(3) {
	background-color: #3f83bb;
}

.grid > *:nth-of-type(3):hover {
	background-color: #ccc;
	color: #111;
	border: 2px solid #111;
	cursor: pointer;
	transition: all 0.3s;
}

.grid > *:last-child {
	background-color: #9e13b1;
}

.grid > *:last-child:hover {
	background-color: #ccc;
	color: #111;
	border: 2px solid #111;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.display-flex {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.display-flex-row {
	display: flex;
	flex-direction: row;
}

.mb-10 {
	margin-bottom: 10px;
}

.section-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 100px 150px;
	gap: 20px;
	overflow-x: hidden;
	width: calc(100vw - 100px);
}

.span-two {
	grid-row: 1 / 3;
	width: 260px;
	background-color: #000074;
	color: #fff;
	padding: 20px;
	font-weight: 200;
	font-family: "raleway-light";
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	grid-column: 2 / 4;
	text-align: center;
	margin: 0;
}

.stats > div {
	margin: 20px;
	background-color: wheat;
	padding: 20px;
	width: 300px;
	align-items: center;
	justify-content: center;
	height: 100px;
	padding-bottom: 20px;
	color: darkslategrey;
}

.stats > *:nth-of-type(2) {
	background-color: #353597;
	color: #fff;
}

.stats > *:nth-of-type(3) {
	background-color: #ff7f50;
	color: #fff;
}

/* .stats > div:hover{
	
} */

.fs-1 {
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 10px;
}

.btn.btn-primary {
	background-color: #353597;
	color: #fff;
	padding: 10px;
	margin: auto;
	margin: 10px 0;
}

.btn.btn-primary:hover {
	transform: scale(0.98);
	background-color: #fff;
	color: #000;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.p {
	margin: 10px 0;
}

.s-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
}

.section-four {
	background-color: #f4f4f4;
}

.s-grid > div {
	position: relative;
	top: 0;
	margin: 10px;
	padding: 50px;
	width: 400px;
	z-index: 100;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 300px;
	text-align: center;
	color: white;
	/* margin: auto 0; */
	background-color: #000074;
	color: #fff;
	font-family: "raleway-light";
	border: 2px solid #111;
}

.s-grid p {
	align-items: center;
	justify-content: center;
}

.s-grid > *:first-child {
	background-color: transparent;
	border: none;
	display: block;
}

.s-grid > div:hover {
	background-color: #000;
	color: #fff;
	font-family: "raleway";
	font-weight: bold;
	cursor: pointer;
	border: 2px solid #ff0000;
	transition: all 0.3s ease-in-out;
	opacity: 0.8;
}

/* .s-grid div:hover{
	background-image: linear-gradient(to right, #000, #000);
} */

.grid-span {
	font-family: "raleway-light";
	color: #3f83bb;
	font-weight: 800;
	margin: 10px 0;
}

.s-grid > *:first-child {
	color: #000;
	text-align: left;
}

/* .overlay{
	position: absolute;
	padding: 20px;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	mix-blend-mode: overlay;
	box-shadow: #000;
	background-color: #353597;
} */

.section-five > div {
	position: relative;
	padding: 100px;
	margin-top: 20px;
	/* z-index: -1; */
	color: #fff;
	opacity: 1;
	display: flex;
	text-align: start;
	line-height: 3.2em;
	justify-content: flex-end;
}

.div-1 {
	position: relative;
	width: 100%;
	height: 490px;
}

.div-2 span {
	color: #eb2;
	font-weight: bold;
}

.div-2 {
	font-family: "raleway-light";
	position: absolute;
	background-color: #000074;
	color: #fff;
	padding: 40px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	display: flex;
	flex-direction: column;
	/* width: 200px; */
	/* margin: auto; */
}

.rounded-1 {
	border-radius: 5px;
	font-weight: 900;
	color: #000;
	padding: 10px 20px;
}

.reviews {
	height: 400px;
	text-align: center;
	margin-top: 10px;
	font-family: "raleway-light";
}

.reviews > span {
	margin-top: 10px;
	color: #ccc;
	font-weight: 900;
}

.news {
	background-color: #13134e;
	color: #fff;
	display: flex;
	/* border: 2px solid #333; */
	padding: 20px 10px;
	justify-content: space-around;
	/* position: relative; */
}

footer {
	/* position: relative; */
	background-color: #1d1d64;
	overflow: hidden;
	/* height: 100vh; */
	color: #fff;
	font-family: "raleway-light";
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo:hover {
	cursor: pointer;
}

.logo p {
	font-size: 3em;
	margin-bottom: 10px;
}

.links-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links {
	display: flex;
	height: 500px;
	line-height: 3.3em;
	padding: 30px;
	margin: 0 20px;
	gap: 50px;
}

.book:hover {
	cursor: pointer;
}

.links > div {
	flex-basis: 600px;
	flex-wrap: wrap;
}

.links div ul {
	display: flex;
}

.d-flex {
	display: flex;
	flex-direction: row;
	text-align: center;
}
.d-flex > a {
	margin: 0 40px;
}

.link > * :last-child {
	flex-basis: 400px;
}

.links > div a {
	border-bottom: 1px solid #eb2;
	border-width: 0.4px;
	padding: 10px;
}

.input {
	border: none;
	padding: 10px;
	background-color: #1d1d64;
	mix-blend-mode: exclusion;
	color: #000;
	display: flex;
}

input[type*="email"] {
	border: 1px solid #000;
	width: 400px;
}

.bg-red {
	color: red;
}

.input > input[type*="email"]:focus {
	outline: none;
}

input[type*="submit"] {
	background-color: #000074;
	color: #fff;
	padding: 8px;
	width: 90px;
	border: none;
}
